<%= form_with(model: task, local: true) do |t|%>
  <% if task.errors.any? %>
    <ul>
      <% task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= t.label :content,"タスク"%>
  <%= t.text_field :content %>
  <%= t.label :status,"ステータス"%>
  <%= t.text_field :status %>
  <%= t.submit "作成" %>
<% end %>